@{}

<div class="row m0a alCenter">
    <div class="Proverka_page">
        <div id="bread_crumbs">
            <div class="inner alLeft">
                <ul>
                    <li class="inb vM rL"><a href="" class="db">Архив</a></li>
                    <li class="inb vM rL"><a href="" class="db"> / Проверить полис</a></li>
                </ul>
            </div>
        </div>
        <div class="center_block">
            <div class="inner">
                <div class="fleft rL">
                    <form>
                        <div class="form_block rL">
                            <span class="db alLeft">Госудврственный номер</span>
                            <div class="fright rL box">
                                <input type="button" value="ОК" class="box w100 rL cp">
                            </div>
                            <div class="box rL hid">
                                <input type="text" class="rL box w100 inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <p>или</p>
                        <div class="form_block rL">
                            <span class="db alLeft">Номер полису ОСЦПВ</span>
                            <div class="fright rL box">
                                <input type="button" value="ОК" class="box w100 rL cp">
                            </div>
                            <div class="box rL hid">
                                <input type="text" class="rL box w100 inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <div class="rL hid right_block">
                    <span class="db">Поліс № AM6604801 діючий</span>
                    <span class="db red">на 19.10.2018</span>
                    <p>СТРАХОВА КОМПАНІЯ</p>
                    <p>НазваАТ "СК "Мега-гарант"</p>
                    <p>Статус страховикаСтраховик є діючим членом МТСБУ</p>
                    <p>Телефон(057) 719-68-22</p>
                    <p>E-mailinfo@megagarant.com</p>
                    <p>Адресам. Харків, вул. Донця-Захаржевського, буд. 6/8</p>
                    <p>ТРАНСПОРТНИЙ ЗАСІБ</p>
                    <p>Державний номерHPN299</p>
                    <p>VIN-кодVF34H9HXC9S099847</p>
                    <p>ТипB1: легковий автомобіль до 1600 кубічних сантиметрів;</p>
                    <p>Марка та модельPEUGEOT 308SW</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
