@{}

<div class="row m0a alCenter">
    <a href="@Url.Action("Index", "Osago")">
        <div class="block inb vT rL hid">
            <div class="ah1 upp">ОСАГО</div>
            <div class="image_block">
                <img src="/Content/images/osago.svg" alt="">
            </div>
            <div class="ah2">Лучшее предложение </div>
            <i>На сегодня 28.08.2018</i>
            <div class="price">300 грн.</div>
            <div class="last_block">
                от <img src="/Content/images/item1.png" alt="">
            </div>
        </div>
    </a>

    <a href="@Url.Action("Index", "Tourist")">
        <div class="block inb vT rL hid">
            <div class="ah1 upp">Турестическая</div>
            <div class="image_block">
                <img src="/Content/images/tur.svg" alt="">
            </div>
            <div class="ah2">Лучшее предложение </div>
            <i>На сегодня 28.08.2018</i>
            <div class="price">500 грн.</div>
            <div class="last_block">
                от <img src="/Content/images/item2.png" alt="">
            </div>
        </div>
    </a>

    <a href="@Url.Action("Index", "GreenCard")">
        <div class="block inb vT rL hid">
            <div class="ah1 upp">ЗЕЛЕНАЯ КАРТА</div>
            <div class="image_block">
                <img src="/Content/images/green.svg" alt="">
            </div>
            <div class="ah2">Лучшее предложение </div>
            <i>На сегодня 28.08.2018</i>
            <div class="price">700 грн.</div>
            <div class="last_block">
                от <img src="/Content/images/item3.png" alt="">
            </div>
        </div>
    </a>
    <div class="clear"></div>
</div>

@Scripts.Render("~/bundles/home")