@{}

<div class="osago_page green_page turism_page">
    <div id="bread_crumbs">
        <div class="inner">
            <ul>
                <li class="inb vM rL"><a href="@Url.Action("Index", "Home")" class="db">Главная</a></li>
                <li class="inb vM rL"><a href="@Url.Action("Index", "Tourist")" class="db"> / Туристическая</a></li>
            </ul>
        </div>
    </div>
    <div class="inner">
        <div class="row rL hid">
            <form>
                <div class="row2 rL fleft">
                    <div class="item2">
                        <label class="db rL">
                            <input type="radio" name="2" class="db box inputbox">
                            <b class="db">Рабочая виза в Польшу</b>
                        </label>
                    </div>
                    <p class="alCenter">*Подходит для консульства!</p>
                    <div class="item2">
                        <label class="db rL">
                            <input type="radio" name="2" class="db box inputbox">
                            <b class="db">Европа</b>
                        </label>
                    </div>
                    <div class="item2">
                        <label class="db rL">
                            <input type="radio" name="2" class="db box inputbox">
                            <b class="db">СНГ</b>
                        </label>
                    </div>
                    <div class="item2">
                        <label class="db rL">
                            <input type="radio" name="2" class="db box inputbox">
                            <b class="db">Весь Мир</b>
                        </label>
                    </div>
                </div>
                <div class="row3 rL fleft">
                    <div class="item3 rL scroll_block">
                        <p class="alLeft">Период</p>
                        <select class="nice-select rL w100 box cp">
                            <option>5 мес</option>
                            <option>5 мес</option>
                            <option>5 мес</option>
                        </select>
                        <div class="clear"></div>
                        <div class="blok rL">
                            <span class="fright rL alCenter db">7</span>
                            <p class="alLeft rL hid">Количество людей</p>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">1</div>
                            <div class="fright rL alCenter db">55</div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">2</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">3</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">4</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">5</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">6</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">7</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">8</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">9</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="blok rL">
                            <div class="fleft rL alCenter db">10</div>
                            <div class="fright rL alCenter db"></div>
                            <div class="rL hid">
                                <input type="text" placeholder="Дата рождения" class="date w100 rL box db inputbox">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="row4 fleft rL ">
                    <div class="item4">
                        <span class="db alCenter">Лучшая цена по выбранным <b class="db"></b> пораметрам <b class="db"></b> от</span>
                        <a href="" class="db cover button" style="background-image: url(/Content/images/AXA_logo.svg);"></a>
                        <p class="alCenter">
                            от <b>300</b> грн.
                        </p>
                    </div>
                    <a href="" class="button db">Перейти к сравнению</a>
                </div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/tourist")