@{}

<div class="row m0a alCenter">
    <div class="spisok_page">
        <div id="bread_crumbs">
            <div class="inner alLeft">
                <ul>
                    <li class="inb vM rL"><a href="@Url.Action("Index", "Home")" class="db">Главная</a></li>
                    <li class="inb vM rL"><a href="@Url.Action("Index", "Osago")" class="db"> / ОСАГО Калькулятор</a></li>
                    <li class="inb vM rL"><a href="@Url.Action("Compare", "Osago")" class="db"> / Сравнение</a></li>
                </ul>
            </div>
        </div>
        <div class="inner">
            <div class="table_block box rL">
                <div class="tb alCenter w100">
                    <div class="tr">
                        <div class="tbc vM">
                            <a href="" class="logo db cover button" style="background-image: url(~/Content/images/AXA.svg);"></a>
                        </div>
                        <div class="tbc vM">
                            <span class="db">На баланс 327 грн</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">Франшиза</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">0</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">1000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db red rL">2000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">700 грн.</span>
                        </div>
                        <div class="tbc vM">
                            <a href="" class="button db">Оформить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table_block box rL">
                <div class="tb alCenter w100">
                    <div class="tr">
                        <div class="tbc vM">
                            <a href="" class="logo db cover button" style="background-image: url(~/Content/images/AXA.svg);"></a>
                        </div>
                        <div class="tbc vM">
                            <span class="db">На баланс 327 грн</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">Франшиза</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">0</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">1000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db red rL">2000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">700 грн.</span>
                        </div>
                        <div class="tbc vM">
                            <a href="" class="button db red">Оформить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table_block box rL">
                <div class="tb alCenter w100">
                    <div class="tr">
                        <div class="tbc vM">
                            <a href="" class="logo db cover button" style="background-image: url(~/Content/images/AXA.svg);"></a>
                        </div>
                        <div class="tbc vM">
                            <span class="db">На баланс 327 грн</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">Франшиза</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">0</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">1000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db red rL">2000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">700 грн.</span>
                        </div>
                        <div class="tbc vM">
                            <a href="" class="button db ">Оформить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table_block box rL">
                <div class="tb alCenter w100">
                    <div class="tr">
                        <div class="tbc vM">
                            <a href="" class="logo db cover button" style="background-image: url(~/Content/images/AXA.svg);"></a>
                        </div>
                        <div class="tbc vM">
                            <span class="db">На баланс 327 грн</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">Франшиза</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">0</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">1000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db red rL">2000</span>
                        </div>
                        <div class="tbc vM">
                            <span class="db">700 грн.</span>
                        </div>
                        <div class="tbc vM">
                            <a href="" class="button db ">Оформить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile_block hide">
                <div class="after_block rL">
                    <div class="fleft rL w50">
                        <a href="" class="logo rL db cover" style="background-image: url(~/Content/images/AXA.svg);"></a>
                    </div>
                    <div class="fleft rL w50">На баланс 327 грн</div>
                    <div class="clear"></div>
                </div>
                <div class="after_block rL">
                    <div class="tb w100 alCenter">
                        <div class="tr">
                            <div class="tbc">Франшиза</div>
                            <div class="tbc">0</div>
                            <div class="tbc">1000</div>
                            <div class="tbc"><span class="db rL">2000</span></div>
                        </div>
                    </div>
                </div>
                <div class="last_block">
                    <div class="fleft rL w50">700 грн.</div>
                    <a href="" class="fright rL db button alCenter">Оформить</a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mobile_block hide">
                <div class="after_block rL">
                    <div class="fleft rL w50">
                        <a href="" class="logo rL db cover" style="background-image: url(~/Content/images/AXA.svg);"></a>
                    </div>
                    <div class="fleft rL w50">На баланс 327 грн</div>
                    <div class="clear"></div>
                </div>
                <div class="after_block rL">
                    <div class="tb w100 alCenter">
                        <div class="tr">
                            <div class="tbc">Франшиза</div>
                            <div class="tbc">0</div>
                            <div class="tbc">1000</div>
                            <div class="tbc"><span class="db rL">2000</span></div>
                        </div>
                    </div>
                </div>
                <div class="last_block">
                    <div class="fleft rL w50">700 грн.</div>
                    <a href="" class="fright rL db button alCenter">Оформить</a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mobile_block hide">
                <div class="after_block rL">
                    <div class="fleft rL w50">
                        <a href="" class="logo rL db cover" style="background-image: url(~/Content/images/AXA.svg);"></a>
                    </div>
                    <div class="fleft rL w50">На баланс 327 грн</div>
                    <div class="clear"></div>
                </div>
                <div class="after_block rL">
                    <div class="tb w100 alCenter">
                        <div class="tr">
                            <div class="tbc">Франшиза</div>
                            <div class="tbc">0</div>
                            <div class="tbc">1000</div>
                            <div class="tbc"><span class="db rL">2000</span></div>
                        </div>
                    </div>
                </div>
                <div class="last_block">
                    <div class="fleft rL w50">700 грн.</div>
                    <a href="" class="fright rL db button alCenter">Оформить</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>